fastapi
uvicorn
python-multipart
PyPDF2
faiss-cpu
google-genai
numpy
pydantic
python-dotenv
mangum
pdfplumber
langchain
langgraph
sklearn
pandas
mangum
python-docx
python-pptx
openpyxl
requests
wikipedia
